<footer>
    <p>
        &copy;2020-{{ 'now' | date: "%Y" }} RobustScience<br/>
        RobustScience is funded by the National Science Foundation (NSF) under grants number
        <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=2028881">2028881</a>,
        <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=2028923">2028923</a>,
        <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=2028930">2028930</a>,
        <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=2028955">2028955</a>, and
        <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=2028956">2028956</a>.
    </p>
    <p>&nbsp;</p>
</footer>
