<nav class="navbar navbar-expand-lg fixed-top navbar-dark" id="topNav">
    <a class="navbar-brand ml-1" href="/">
        <img src="/assets/img/robustscience-logo.png" width="24"/>
        {{site.title}}
    </a>
    <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation"
            style="background-color: #999">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/team">
                <i class="fas fa-users" style="color: #AAB0A5"></i> Team</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown">
                    <i class="fas fa-coffee" style="color: #AAB0A5"></i> Virtual World Cafés</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/virtual_cafe">
                        <i class="fas fa-coffee" style="color: #AAB0A5"></i> About Virtual World Cafés</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/virtual_cafe/one">
                        <i class="fas fa-map-marker" style="color: #565A6A"></i> Virtual World Café 1</a>
                    <a class="dropdown-item" href="/virtual_cafe/two">
                        <i class="fas fa-map-marker" style="color: #4B84C5"></i> Virtual World Café 2</a>
                    <a class="dropdown-item" href="/virtual_cafe/three">
                        <i class="fas fa-map-marker" style="color: #B5C656"></i> Virtual World Café 3</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-item" href="/virtual_cafe/format">
                    <i class="fas fa-chalkboard-teacher" style="color: #AAB0A5"></i> Virtual World Cafés Format</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-0">
            <li class="nav-item">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdH9hlmsaZRtw8Ff5vAP6AC68uwVYmNhT7bfyVjx58zn4k8dg/viewform"
                   target="_blank" class="btn btn-info"
                   style="color: white !important; font-weight: bold; font-size: 0.8em">
                    Expression of Interest Form</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Search Form -->
<div class="search-form-container">

    <form class="search-form">
        <fieldset class="search-form__fieldset">
            <div class="row">
                <div class="col-lg-8 offset-md-2">
                    <input class="search-form__field" placeholder="Type to Search..." autofocus>
                    <input class="search-form__submit" type="submit" value="search">
                </div>
            </div>
        </fieldset>
    </form>

    <div class="row">
        <div class="col-lg-8 offset-md-2 search-results">
            <div class="card search-results"></div>
        </div>
    </div>

    <div class="close-search-button search-form-container__close">
        <i class="fa fa-times icon"></i>
    </div>
</div>
