---
layout: default
---

<script>
    $(document).ready(function () {
        $("#typewriteText").typewrite({
            actions: [{type: "{{site.typewrite-text}}"}]
        });
    });
</script>
<div class="jumbotron" style="text-align: center">
    <div class="col-lg-9 offset-1 offset-sm-1 offset-md-2 offset-lg-2 offset-xl-2">
        <div class="row">
            <div class="col-lg-8">
                <div style="display: inline-block; margin-top: 0em">
                    <p class="jumbotron-heading">A Community Roadmap to Robust Science<br/>in
                        High-throughput Applications
                        <br/>
                        <span style="font-size: 0.6em">2021 Virtual World Cafés</span>
                    </p>
                </div>&nbsp;
            </div>
            <div class="col-lg-3">
                <img src="{{site.url}}{{site.baseurl}}/assets/img/robustscience-logo.png" width="150em"/>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-8 col-md-8 col-lg-8 offset-1 offset-sm-1 offset-md-2 offset-lg-2 offset-xl-2">
    <div class="row">
        <div class="col-lg-12">
            <p>
                The RobustScience project gathers interdisciplinary communities to define a roadmap to robust science
                using <strong>high-throughput applications</strong> for scientific discovery. High-throughput
                applications combine multiple tasks into increasingly complex workflows on heterogeneous systems. Robust
                science should assure performance scalability in space and time; trust in technology, people, and
                infrastructures; and reproducibility or confirmable research in high-throughput applications.
            </p>
            <p>
                We will define the roadmap through three <strong>Virtual World Cafés</strong> tailored to three groups:
                application users and scientists; system developers and users; and educators and trainers.
            </p>
        </div>
    </div>

    <div class="row mt-lg-3">
        <div class="col-lg-4">
            <a href="/virtual_cafe/one" style="border-bottom: none !important">
                <img src="/assets/img/cafe1.png" style="width: 20em"/>
            </a>
            <div style="padding: 0.5em 1.5em 0.5em 3.3em">
                Wednesday, February 17, 2021<br/>
                <span style="color: #666">12-3pm EST, 9-noon PST</span>
            </div>
        </div>
        <div class="col-lg-4">
            <a href="/virtual_cafe/two" style="border-bottom: none !important">
                <img src="/assets/img/cafe2.png" style="width: 20em"/>
            </a>
            <div style="padding: 0.5em 1.5em 0.5em 3.3em">
                Wednesday, April 21, 2021<br/>
                <span style="color: #666">12-3pm EST, 9-noon PST</span>
            </div>
        </div>
        <div class="col-lg-4">
            <a href="/virtual_cafe/three" style="border-bottom: none !important">
                <img src="/assets/img/cafe3.png" style="width: 20em"/>
            </a>
            <div style="padding: 0.5em 1.5em 0.5em 3.3em">
                Date to be announced in Spring 2022
<!--                Wednesday, August 25, 2021<br/>-->
<!--                <span style="color: #666">12-3pm EDT, 9-noon PDT</span>-->
            </div>
        </div>
    </div>

    <!--<div class="col-lg-8 offset-md-2" style="margin-top: 5em">-->
    <!--    <section id="recent-articles">-->
    <!--        <div id="recent-articles-header">-->
    <!--            <div id="recent-articles-title">-->
    <!--                <h1 class="card-title">Recent Articles</h1>-->
    <!--            </div>-->
    <!--            <div id="recent-articles-show-all">-->
    <!--                <a class="btn btn-lg btn-dark" href="/blog"> View All </a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <br/>-->

    <!--        <ul>-->
    <!--            {% for post in site.posts limit:5 %}-->
    <!--            <li class="article-card">-->
    <!--                <a href="{{post.url}}" class="article-card-link">-->
    <!--                    <div id="article-container">-->
    <!--                        <div id="article-img">-->
    <!--                            {% if post.author %}-->
    <!--                            {% assign author = post.author %}-->
    <!--                            {% if author %}-->
    <!--                            {% assign author_data = site.data.authors[author] %}-->
    <!--                            <img-->
    <!--                                    src="{{site.url}}{{site.baseurl}}/assets/img/authors/{{author_data.avatar}}"-->
    <!--                                    width="50px"-->
    <!--                                    height="50px"-->
    <!--                            />-->
    <!--                            {% endif %}-->
    <!--                            {% endif %}-->

    <!--                        </div>-->
    <!--                        <div id="article-link">-->
    <!--                            <p class="recent-article-link">{{post.title}} <span style="color: #ccc; font-size: 15px;"> - <i><time-->
    <!--                                    datetime="{{ post.date }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></i></span>-->
    <!--                            </p>-->
    <!--                        </div>-->
    <!--                        <div id="article-alert">-->
    <!--                            {% for cat in post.category limit:1 %}-->
    <!--                            <button class="btn btn-sm btn-dark">{{cat}}</button>-->
    <!--                            {% endfor %}-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </a>-->
    <!--            </li>-->
    <!--            {% endfor %}-->
    <!--        </ul>-->
    <!--    </section>-->
    <!--</div>-->

    <div class="row mt-lg-3">
        <div class="col-lg-12">
            <p><h4>Project Mission</h4></p>
            <p><strong>Three key concepts: High-Throughput Applications, Robust Science, and Roadmap</strong></p>
            <p>
                High-throughput applications are all those applications whose workflows are composed of independent
                operations (including computations and data analysis) and whose data processing is divided into
                independent transactions, at large and distributed scales.
            </p>
            <p>
                Robust science assures performance scalability in space and time (scalability); trust in technology,
                people, and infrastructures (trustworthiness); and reproducible or confirmable research
                (reproducibility).
            </p>
            <p>
                A roadmap defines future hardware architecture and software systems (e.g., tools, interfaces, libraries,
                data and model commons); programming models and compilers; algorithms and theory; principles and
                practices; workforce development and diversity.
            </p>
            <p class="pt-lg-4"><strong>One mission: Define a Roadmap</strong></p>
            <p>
                Our mission is to define a roadmap for establishing a vibrant, multidisciplinary community that works
                together to design, implement, and use a set of solutions for robust science applied to high throughput
                applications.
            </p>
            <p>
                The roadmap will span across critical hardware and software areas (i.e., architecture, systems, HPC,
                programming models and compilers, and cybersecurity) combining these areas into a continuum through
                AI-orchestrations, policies, practices, and a diverse workforce.
            </p>
        </div>
    </div>

    <div class="row mt-lg-3">
        <div class="col-lg-12">
            <p><h4>Publications, Presentations, and other Outcomes</h4></p>
            <p> <div class="content-wrapper">
		<span class="block-elem">M. Taufer, E. Deelman, Kate Keahey, Miron Livny, and Timothy Holt.</span>
		<a href="https://meetings.siam.org/sess/dsp_programsess.cfm?SESSIONCODE=72771" target="_blank">
		  A Roadmap to Robust Science for High-throughput Applications: The Developers’ Perspective. 
		</a>
		Mini-symposium at the SIAM Conference on Parallel Processing for Scientific Computing (PP22), February 23-26, 2022, Seattle, WA, USA.
	      </div>
	    </p>
	    <p> <div class="content-wrapper">
		<span class="block-elem">M. Taufer, E. Deelman, R. Ferreira da Silva, T. Estrada, M. Hall, and M. Livny.</span>
		<a href="https://ieeexplore.ieee.org/document/9556084" target="_blank">
		  A Roadmap to Robust Science for High-throughput Applications: The Developers’ Perspective. 
		</a>
		In Proceedings of the IEEE Cluster Conference on Cluster Computing (CLUSTER), pp. 807-808. Portland, Oregon. 2021.
	      </div>
	    </p>
	    <p> <div class="content-wrapper">
	      <span class="block-elem">M. Taufer, E. Deelman, R. Ferreira da Silva, T. Estrada, and M. Hall.</span>
	      <a href="https://ieeexplore.ieee.org/document/9582330" target="_blank">
		A Roadmap to Robust Science for High-throughput Applications: The Scientists' Perspective. 
	      </a>
	      In Proceedings of the IEEE 17th International Conference on eScience, pp. 247-248. Innsbrruck, Austria. September, 2021.
	      </div>
	    </p>
	    <p> <div class="content-wrapper">
		<span class="block-elem">M. Taufer, E. Deelman, Trilce Estrada, Duncan Brown, and Rodrigo Vargas.</span>
		<a href="https://pasc21.pasc-conference.org/program/schedule/session/?sess=sess197" target="_blank">
		  Building a Community Roadmap to Robust Science based on Performance Scalability, Trust, and Reproducibility in High-throughput Applications.
		</a>
		Mini-symposium at the Platform for Advanced Scientific Computing (PASC) Conference, July 5-9, 2021. Virtual Event.
	      </div>
	    </p>
	    <p> <div class="content-wrapper">
		<span class="block-elem">M. Taufer, E. Deelman, Mary Hall, Victoria Stodden, and Trilce Estrada.</span>
		<a href="https://meetings.siam.org/sess/dsp_programsess.cfm?SESSIONCODE=69980" target="_blank">
		  Building a Community Roadmap to Robust Science in High-Throughput Applications.
		</a>
		Mini-symposium at the SIAM Conference on Computational Science and Engineering (CSE21),March 1-5, 2021. Virtual Event.
	      </div>
	    </p>
	    <br>
	    <!-- <p> <div class="content-wrapper">
		<span class="block-elem">M. Taufer, E. Deelman, .</span>
		<a href="" target="_blank">
		  A Roadmap to Robust Science for High-throughput Applications: The Developers’ Perspective. 
		</a>
		
	      </div>
	    </p>
	    <br>
	    -->
	    
	</div>
    </div>
    
    <div class="row mt-lg-3">
        <div class="col-lg-12">
            <p><h4>Project Presentation</h4></p>
            <div class="resp-container">
                <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQ18amKI5ho5N2BOzJZ-A979e4TMQPXQslZRsYJwysPMwhabo0qYLjPU9pZdWQ-Mc1RyC3bBdnz7d4C/embed?start=false&loop=false&delayms=3000"
                        frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true"
                        webkitallowfullscreen="true" class="resp-iframe" style="margin: auto"></iframe>
            </div>
        </div>
    </div>
</div>
